*.iml
.gradle
.DS_Store
.externalNativeBuild
/local.properties
/.idea
/.gradle
/build
/captures
/libraries/greendao-api/build
/libraries/greendao-core/build
/libraries/greendao-generator/build
/libraries/immersionbar/build
/app/build